[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
psycopg2 = "*"

[dev-packages]
mypy = "*"
black = "*"
django-stubs = "*"
djangorestframework-stubs = "*"

[requires]
python_version = "3.9"
